.min-h-screen{
    min-height: 100vh;
}
.text-blue{
    color: rgb(227 74 56);;
}

.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(227 74 56);;
}

.overflow-x-hidden{
    overflow-x: hidden;

}